<h3> Conozca un Arreglo numpy </h3>

Utilizará el marco de datos <code>df</code> para lo siguiente:

In [30]:
import pandas as pd
df=pd.DataFrame({'a':[11,21,31],'b':[21,22,23]})
df

    a   b
0  11  21
1  21  22
2  31  23

1) trazar las primeras tres filas:

In [5]:
df.head(3)

    a   b
0  11  21
1  21  22
2  31  23

2) obtener columna  <code> 'a'</code>

In [6]:
df['a']

0    11
1    21
2    31
Name: a, dtype: int64

<hr>
<small>Copyright &copy 2020 IBM Cognitive Class. Este cuaderno y su código fuente se publican bajo los términos de la [Licencia MIT] (https://cognitiveclass.ai/mit-license/).

</small>

In [26]:
df.iloc[2,0]

31

    a   b
0  11  21
1  21  22
2  31  23